@tailwind base;
@tailwind components;
@tailwind utilities;

.image-responsive {
    position: relative;
    height: 0;
    padding-top: 75%;
}

#selector::after {
    content: "\FE40";
    position: absolute;
    right: 0.6rem;
    top: 50%;
    transform: translateY(-30%);
    pointer-events: none;
}

.animate {
    animation: 0.5s elastic ease-in-out;
}

@keyframes elastic {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.4, 0.75);
    }
    40% {
        transform: scale(1.4, 0.75);
    }
    70% {
        transform: scale(0.75, 1.4);
    }
    100% {
        transform: scale(1);
    }
}
